@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

/* Reset CSS */

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

body{
    position: relative;
    min-width:50vh;
}

ul, li {
    list-style-type: none;
}

a{
    text-decoration: none;
}

/* Navbar */

div.navbar{
    position:relative;
    width: 100%;
}

div.logo h1{
    font-size: 1.6rem;
    font-weight: 600;
    margin-bottom: 50px;
}

div.navbar{
    background-color: #333333;
    padding: 15px;
}

div.navbar ul{
    display: flex;
}

div.navbar a{
    padding: 2px 15px 2px 15px;
    color : #FFF;
}

div.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 90vh;
}

div.navbar a:hover{
    background-color: #04AA6D;
    border-radius: 20px;
}

/* Formulaire */

form.forms-add{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 90vh;
}

input.forms-input{
    width: 30%;
    border: 0;
    border-bottom: 2px solid #9b9b9b;
    outline: 0;
    font-size: 1.4rem;
    color: #000;
    padding: 7px 0;
    background: transparent;
    margin-top: 10px;
} 

/* Button forms  */

button.forms-send {
  background-color: #111827;
  border: 1px solid transparent;
  border-radius: .75rem;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1.5rem;
  padding: .75rem 1.2rem;
  margin-top: 50px;
  text-align: center;
}

button.forms-send:hover {
  background-color: #333333;
}

button.forms-send:focus {
  box-shadow: none;
  outline: 2px solid transparent;
  outline-offset: 2px;
}

@media (min-width: 768px) {
    button.forms-send {
    padding: .75rem 1.5rem;
  }
}

/* Page liste */

div.search{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem 0 0 0;
}

div.student-card{
    margin: 50px;
    display: grid;
    gap: 15px;
    grid-template-columns: repeat(auto-fill, 265px);
}

div.student-card li.student{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    background-color: #333333;
    padding: 20px;
}

div.student-card li.student h2{
    padding: 10px 0;
    font-size: 1rem;
}

div.student-card li.student button{
    margin: 10px 0;
}

div.student-card{
    color:white;
}

div.student-card a{
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: black;
    background-color: #008d59;
    color: white;
    padding: 3px;
    margin-top: 15px;
    border-radius: 10px;
}

div.student-card a:hover{
    background-color: #04AA6D;
}

/* Edit Student */

div.edit h2{
    padding-top: 50px;
    display: flex;
    justify-content: center;
}

div.buttons button{
    margin: 30px 10px;
}

div.buttons button a{
    color:white;
}

/* Filtre de recherche */

#nbr{
    display: flex;
    justify-content: center;
    margin-top: 2.2rem;
    font-weight: 700;
    color : #333333;
    align-items: center;
}

#nbr .text-nbr{
    display: flex;
    justify-content: center;
    border-bottom: solid 1px #333333;
    width: 50%;
    padding-bottom : 1.2rem;
}

.search {
    position: relative;
    display: flex;
}
  
.searchTerm {
    border: 3px solid #04AA6D;
    border-right: none;
    padding: 5px;
    height: 20px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: #333333;
    font-size: 1rem;
}

.searchTerm:focus{
    color: #04AA6D;
    font-weight: 600;
}

.searchButton {
    width: 40px;
    height: 36px;
    border: 1px solid #04AA6D;
    background: #04AA6D;
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
}

.searchButton:hover{
    color:#333333;
}
